@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(76, 93, 229);
  background: linear-gradient(121deg, rgb(76, 93, 229) 0%, rgb(31, 29, 67) 46%, rgb(221, 55, 185) 96%);
}

h2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  margin: 2px;
  position: relative;
  left: 15px;
}

.gridGeneral {
  display: grid;
  gap: 10px;
  grid-template-areas: "menu menu" "header header" "main main" "footer footer";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.navbar {
  grid-area: menu;
}

.bannerFiltro {
  grid-area: bannerFiltro;
}

.col-md-2 {
  grid-area: filtros;
}

.productContainer {
  grid-area: card;
}

.containers {
  display: grid;
  grid-template-areas: "bannerFiltro" "filtros" "card";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (min-width: 768px) {
  .containers {
    display: grid;
    grid-template-areas: "bannerFiltro bannerFiltro bannerFiltro" "filtros card card" "filtro card card";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
header {
  width: 100%;
  top: 0;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.227);
}
@media screen and (min-width: 768px) {
  header {
    height: 100px;
  }
}

nav {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 576px) {
  nav {
    height: 100px;
  }
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin: auto 0 auto 10px;
}

.logo {
  position: relative;
  left: 15px;
  width: 70px;
  border-radius: 50px;
}
@media screen and (min-width: 576px) {
  .logo {
    width: 90px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    border-radius: 10%;
    width: 100px;
    left: 5px;
  }
}

.container-fluid {
  padding: 0;
}
.container-fluid .d-flex {
  padding-bottom: 5px;
}

.navbar {
  z-index: 1000;
  padding-top: 2px;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding-top: 3px;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 8px;
  }
}

.navbar-collapse {
  background: rgb(76, 93, 229);
  background: linear-gradient(121deg, rgb(76, 93, 229) 0%, rgb(31, 29, 67) 46%, rgb(221, 55, 185) 96%);
  margin-top: 3px;
}
@media screen and (min-width: 576px) {
  .navbar-collapse {
    margin-top: 7px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-collapse {
    margin-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-collapse ul {
    align-items: center;
  }
}

.navbar-brand {
  padding: 0;
}

.mb-lg-0 li a {
  padding-left: 10px;
}
.mb-lg-0 li a:hover {
  color: rgb(221, 55, 185);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 10px;
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
  }
}

.carrito {
  filter: invert(1);
}

@media screen and (min-width: 992px) {
  .btn {
    display: none;
  }
}

.btn-outline-success {
  color: #fff;
}

.d-flex {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-toggler {
  position: relative;
  right: 10px;
}

main {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.bannerIncros {
  display: none;
}
@media screen and (min-width: 768px) {
  .bannerIncros {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .bannerIncros img {
    width: 100%;
    margin-top: -10px;
  }
}

/* filtro lateral */
.adaptativo {
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  width: 250px;
  justify-self: center;
  border: 1px solid;
  margin: 5px;
}
.adaptativo .d-flex {
  flex-direction: row-reverse;
}

/* cards */
.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.productContainer img {
  height: 82%;
}
@media screen and (min-width: 768px) {
  .productContainer {
    justify-items: center;
  }
}
@media screen and (min-width: 992px) {
  .productContainer {
    justify-items: center;
    height: auto;
  }
}

.card {
  background: #fff;
  margin: 5px;
  padding: 10px;
  height: 300px;
  width: 250px;
  border: thin solid rgb(0, 0, 0);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card picture {
  height: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}
@media screen and (min-width: 576px) {
  .card {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    height: 350px;
    width: 280px;
    border: thin solid rgb(0, 0, 0);
    border-radius: 15px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    height: 280px;
    width: 220px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    height: 350px;
    width: 290px;
  }
}
.card h3 {
  margin-bottom: -200px;
  position: absolute;
  z-index: 31;
  font-size: 18px;
}
.card .textAndButton {
  z-index: 30;
  position: absolute;
  bottom: 0;
  color: #000;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.852);
}
.card .textAndButton p {
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card .textAndButton button {
  padding: 7px 17px;
  background: transparent;
  border: 2px solid rgba(200, 0, 255, 0.637);
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 0.75rem;
  outline: none;
  opacity: 0;
}
.card .textAndButton button:hover {
  background: #fff;
  color: #000;
}
.card:hover {
  transform: scale(0.9);
}
.card:hover h3 {
  opacity: 0;
  transition: all 0.25s ease;
}
.card:hover .textAndButton p {
  margin-bottom: 0px;
  opacity: 1;
}
.card:hover picture {
  transform: scale(1.25);
}
.card:hover:after {
  height: 150px;
}
.card:hover .textAndButton button {
  background: #869fc8;
  opacity: 1;
}
.card:after {
  width: 100%;
  content: "";
  left: 0;
  bottom: 0;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, 100%);
  z-index: 20;
  transition: all 0.25s ease;
}

.card label {
  font-size: 14px;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .containers {
    text-align: -webkit-center;
  }
}

.comprar {
  text-align: -webkit-center;
  margin-top: 10px;
}

.bannerFiltro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: #4c5de5;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .bannerFiltro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: #4c5de5;
    border-radius: 10px;
  }
}

.filtro {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .filtro {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}

.ordenar {
  margin-right: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .ordenar {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

/* texto nosotros */
.nosotrosTeam {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
.nosotrosTeam img {
  width: 60%;
  -moz-text-align-last: center;
       text-align-last: center;
}
.nosotrosTeam .boxNosotros {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.nosotrosTeam .boxNosotros .nosotros {
  color: #fff;
  margin: 2px;
  padding: 10px 15px 10px;
}
@media screen and (min-width: 992px) {
  .nosotrosTeam {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .nosotrosTeam img {
    width: 60%;
  }
}

/* formulario registro */
.registro {
  text-align: -webkit-center;
}

.row {
  color: #fff;
  padding: 5px;
  margin: 5px;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .row {
    width: 800px;
  }
}

.form-check {
  text-align: initial;
}

/* formulario de consulta */
.contacto {
  text-align: -webkit-center;
}

.consulta {
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: initial;
}
@media screen and (min-width: 992px) {
  .consulta {
    width: 800px;
  }
}

.mb-3 {
  width: 70%;
}

@media screen and (min-width: 992px) {
  .btn {
    display: initial;
  }
}
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.227);
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bottomNav {
  display: flex;
  margin: 3px;
  padding: 2px;
}
.bottomNav ul {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .bottomNav ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .bottomNav ul li {
    margin: 10px;
  }
}
.bottomNav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

.redSocial {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 3px;
  height: 48px;
  width: 48px;
}
@media screen and (min-width: 992px) {
  .redSocial {
    flex-direction: row;
    justify-content: center;
  }
}

.copyright {
  color: #fff;
}

.carroCompleto {
  display: grid;
  gap: 5px;
  grid-template-areas: "bannerFiltro bannerFiltro bannerFiltro bannerFiltro" "pC pC pC pC" ". comprar eliminar .";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}
.carroCompleto .card1 {
  grid-area: card1;
}
.carroCompleto .card2 {
  grid-area: card2;
}
.carroCompleto .card3 {
  grid-area: card3;
}
.carroCompleto .card4 {
  grid-area: card4;
}
.carroCompleto .card5 {
  grid-area: card5;
}
.carroCompleto .card6 {
  grid-area: card6;
}
.carroCompleto .comprar {
  grid-area: comprar;
}
.carroCompleto .eliminar {
  grid-area: eliminar;
}
.carroCompleto .unidades {
  grid-area: unidades;
}
.carroCompleto .unidades2 {
  grid-area: unidades2;
}
.carroCompleto .unidades3 {
  grid-area: unidades3;
}
.carroCompleto .unidades4 {
  grid-area: unidades4;
}
.carroCompleto .unidades5 {
  grid-area: unidades5;
}
.carroCompleto .unidades6 {
  grid-area: unidades6;
}
.carroCompleto .precio {
  grid-area: precio;
}
.carroCompleto .precio2 {
  grid-area: precio2;
}
.carroCompleto .precio3 {
  grid-area: precio3;
}
.carroCompleto .precio4 {
  grid-area: precio4;
}
.carroCompleto .precio5 {
  grid-area: precio5;
}
.carroCompleto .precio6 {
  grid-area: precio6;
}
.carroCompleto .subtotal {
  grid-area: subtotal;
}
.carroCompleto .subtotal2 {
  grid-area: subtotal2;
}
.carroCompleto .subtotal3 {
  grid-area: subtotal3;
}
.carroCompleto .subtotal4 {
  grid-area: subtotal4;
}
.carroCompleto .subtotal5 {
  grid-area: subtotal5;
}
.carroCompleto .subtotal6 {
  grid-area: subtotal6;
}
.carroCompleto .nombreP {
  grid-area: nombreP;
}
.carroCompleto .nombreP2 {
  grid-area: nombreP2;
}
.carroCompleto .nombreP3 {
  grid-area: nombreP3;
}
.carroCompleto .nombreP4 {
  grid-area: nombreP4;
}
.carroCompleto .nombreP5 {
  grid-area: nombreP5;
}
.carroCompleto .nombreP6 {
  grid-area: nombreP6;
}
.carroCompleto .total {
  grid-area: total;
}
.carroCompleto p {
  margin: 0;
}
.carroCompleto .bannerFiltro {
  grid-area: bannerFiltro;
}
.carroCompleto .cualidadU {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carroCompleto .cualidadU .unidad {
  width: 35px;
}
.carroCompleto .estiloPS {
  align-self: center;
  border-bottom: 1px solid #000;
  padding: 10px;
}
.carroCompleto .productContainer {
  position: relative;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  width: 90%;
  justify-content: space-around;
  justify-items: stretch;
  grid-area: pC;
  display: grid;
  gap: 5px;
  grid-template-areas: "card1 unidades precio subtotal" "card3 unidades3 precio3 subtotal3" "card4 unidades4 precio4 subtotal4" "card2 unidades2 precio2 subtotal2" "card5 unidades5 precio5 subtotal5" "card6 unidades6 precio6 subtotal6" ". . total total";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.75fr;
}
@media screen and (min-width: 768px) {
  .carroCompleto .productContainer {
    grid-template-areas: "card1 nombreP unidades precio subtotal" "card3 nombreP2 unidades3 precio3 subtotal3" "card4 nombreP3 unidades4 precio4 subtotal4" "card2 nombreP4 unidades2 precio2 subtotal2" "card5 nombreP5 unidades5 precio5 subtotal5" "card6 nombreP6 unidades6 precio6 subtotal6" ". . . total total";
    grid-template-columns: auto auto auto auto auto auto;
  }
}
.carroCompleto .productContainer img {
  height: 56px;
  width: 56px;
  float: left;
  margin: 0;
}
.carroCompleto .productContainer .card {
  display: flex;
  width: auto;
  height: auto;
}
.carroCompleto .productContainer .nombrePC {
  display: none;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .carroCompleto .productContainer .nombrePC {
    display: block;
  }
}
.carroCompleto .productContainer .total {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0 10px;
  border-bottom: 1px solid #000;
}/*# sourceMappingURL=style.css.map */