//grilla general
.gridGeneral {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "menu menu"
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.navbar {
  grid-area: menu;
}

//grilla containers
.bannerFiltro{
  grid-area: bannerFiltro;
}
.col-md-2{
  grid-area: filtros;
}
.productContainer{
  grid-area: card;
}
.containers{
  display: grid;
  grid-template-areas:
  "bannerFiltro"
  "filtros"
  "card";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  
}
@media screen and (min-width: 768px) {
  .containers {
    display: grid;
    grid-template-areas:
    "bannerFiltro bannerFiltro bannerFiltro"
    "filtros card card"
    "filtro card card";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
